* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
}

header {
  position: relative;
}
header .back {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 120vh;
  z-index: -1;
}
header .navbar {
  padding: 30px 30px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
header .navbar .navbar-brand {
  width: 150px;
}
header .navbar .container-fluid {
  position: relative;
}
header .navbar .container-fluid .links li a {
  color: hsl(0, 0%, 100%);
  padding: 15px 25px;
  margin-left: 10px;
}
header .navbar .container-fluid .links li.active a {
  background-color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}
header .navbar .container-fluid .links li:hover a {
  background-color: rgba(255, 255, 255, 0.3);
  color: hsl(0, 0%, 100%);
}
@media (max-width: 767px) {
  header .navbar .container-fluid .links {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    position: absolute;
    left: 0;
    width: calc(100% - 24px);
    margin: 0 auto;
    padding: 20px;
    top: 70px;
    z-index: 100;
  }
  header .navbar .container-fluid .links::before {
    content: "";
    position: absolute;
    right: 0;
    top: -20px;
    border: 20px solid transparent;
    border-right-color: white;
    border-bottom-color: white;
    z-index: 100;
  }
  header .navbar .container-fluid .links li a {
    color: hsl(213, 9%, 39%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  header .navbar .container-fluid .links li.active a {
    background-color: hsl(51, 100%, 49%);
  }
}
header .heading {
  position: absolute;
  top: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
}
header .heading h3 {
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  letter-spacing: 8px;
  font-weight: 800;
  font-family: Fraunces, Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  margin: 0 20px;
}
@media (max-width: 767px) {
  header .heading h3 {
    font-size: 2.3rem;
  }
}
header .heading img {
  height: 130px;
  width: 35px;
  margin: 75px auto 0;
}
@media (max-width: 767px) {
  header .heading img {
    margin-top: 50px;
  }
}

section#services .row {
  margin: 0;
  padding: 0;
}
section#services .row > div {
  padding: 0;
}
section#services .row > div.tiny-container {
  position: relative;
}
section#services .row > div img {
  width: 100%;
}
section#services .row .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section#services .row .service .box {
  max-width: 65%;
}
section#services .row .service .box h4 {
  font-size: 2.5rem;
  font-weight: 800;
  font-family: Fraunces, Arial, Helvetica, sans-serif;
  color: hsl(212, 27%, 19%);
}
section#services .row .service .box p {
  color: hsl(213, 9%, 39%);
}
section#services .row .service .box a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: hsl(212, 27%, 19%);
  font-family: Barlow, Arial, Helvetica, sans-serif;
  position: relative;
}
section#services .row .service .box a span {
  position: absolute;
  left: -5%;
  width: 110%;
  bottom: 1px;
  height: 7px;
  z-index: -1;
  opacity: 0.3;
}
section#services .row .service .box a .yellow {
  background-color: hsl(51, 100%, 49%);
}
section#services .row .service .box a .red {
  background-color: hsl(7, 99%, 70%);
}
section#services .row .service .box a:hover span {
  opacity: 1;
}
@media (max-width: 767px) {
  section#services .row .service .box {
    max-width: 90%;
    margin: 60px 0;
  }
  section#services .row .service .box h4 {
    font-size: 2rem;
  }
}
section#services .row .tiny-service {
  position: absolute;
  bottom: 30px;
  width: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}
@media (max-width: 767px) {
  section#services .row .tiny-service {
    width: 100%;
    padding: 0 15px;
  }
}
section#services .row .tiny-service h5 {
  font-family: Fraunces, Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin-bottom: 30px;
  font-size: 1.5rem;
  color: hsl(167, 40%, 24%);
}
section#services .row .tiny-service.graphic {
  color: hsl(167, 40%, 24%);
}
section#services .row .tiny-service.photography {
  color: hsl(198, 62%, 26%);
}

section#about {
  margin: 140px 0;
  text-align: center;
}
section#about h4 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(210, 4%, 67%);
  font-family: Barlow, Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 80px;
}
section#about .row > div img {
  width: 80px;
  margin-bottom: 70px;
}
section#about .row > div p {
  color: hsl(212, 27%, 19%);
  font-size: 21.6px;
  margin-bottom: 80px;
}
section#about .row > div .col-footer .name {
  font-weight: 800;
  font-size: 18px 1.8;
  font-family: Barlow, Arial, Helvetica, sans-serif;
}
section#about .row > div .col-footer span {
  color: hsl(232, 10%, 55%);
}
@media (max-width: 767px) {
  section#about {
    margin: 70px 0;
    padding: 0 10px;
  }
  section#about h4 {
    font-size: 1.3rem;
    margin-bottom: 70px;
  }
  section#about .row > div {
    margin-bottom: 70px;
  }
  section#about .row > div img {
    margin-bottom: 40px;
  }
  section#about .row > div p {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

footer {
  background-color: hsl(168, 35%, 66%);
  padding: 60px 0;
}
footer > img {
  width: 150px;
  margin-bottom: 50px;
}
footer .footer-links, footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 60px;
}
footer .footer-links li:not(:last-child), footer .social-icons li:not(:last-child) {
  margin-right: 30px;
}
footer .footer-links li a, footer .social-icons li a {
  text-decoration: none;
  color: hsl(168, 34%, 41%);
}
footer .footer-links li a:hover, footer .social-icons li a:hover {
  color: hsl(0, 0%, 100%);
}
footer .social-icons {
  max-width: 200px;
  margin-bottom: 0;
}